.public_fixedDataTableCell_cellContent {
  line-height: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.fixedDataTableCellGroupLayout_cellGroup .public_fixedDataTableCell_cellContent {
  line-height: 20px;
}

.public_fixedDataTableCell_cellContent .table-cell-type-null {
  margin-top: -8px;
  position: fixed;
}
