.query-result-table {
  .pagination {
    text-align: center !important;

    ul, li {
      display: inline-block;
    }

    li {
      padding: 0 0.5em;

      &.active {
        a {
          color: #fff;
          background: #1e70bf;
          border-radius: 15px;
          padding: 0.5em 0.80em;
        }
      }
    }
  }

  td {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
