{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 53
        },
        "useBuiltIns": "usage",
        "corejs": { "version": 3, "proposals": true }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-function-bind",
        "babel-plugin-dev-expression",
        [
          "@babel/plugin-proposal-class-properties",
          {
            "loose": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "transform-function-bind",
        "babel-plugin-dev-expression",
        [
          "@babel/plugin-proposal-class-properties",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}
