* text eol=lf

# Binary files.
*.gif binary
*.png binary
*.jpg binary
*.woff binary
*.woff2 binary
*.eot binary
*.otf binary
*.ttf binary
*.icns binary

# Mark vendor to ignore by GH linguist
vendor linguist-vendored
