@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  }

body {
  /* margin: 20px; */
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0,0,0,.87);
}


#loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1A78B6;
  color: #333333;
}
#loading>div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  text-align: center;
}
#loading img {
  -webkit-animation: pulse 2s ease-in-out infinite;
}
@-webkit-keyframes "pulse" {
 0% {
    opacity: 0.2;
 }
 50% {
    opacity: 1;
 }
 100% {
    opacity: 0.2;
 }
}
