html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  color: rgba(0,0,0,.87);
}


/* Override semantic ui style */
.ui.secondary.menu {
  max-width: 100%;
}

/* Custom css for tables, views and routines lists */
span.list-title {
  cursor: pointer;
  padding: 0.33em;
}

span.list-item {
  word-break: break-all;
}

span.clickable {
  cursor: pointer;
}

.Grid.grid-header-row .Grid__cell .draggable-handle {
    width: 5px;
    cursor: move;
    height: 30px;
    position: absolute;
    right: 0;
    border-right: 1px solid #bfbfbf;
    top: 0
}

.scrollPlaceholder {
  position:absolute;
  top:0;
  background:#e8e8e8;
  border:1px solid #bfbfbf;
  height:30px;
}

.Grid__cell {
  overflow: hidden;
}

.Grid__cell > .item {
  border: 1px solid #eee;
  padding-left: 3px;
}

.Grid.grid-header-row .Grid__cell {
  overflow: visible;
}

.Grid.grid-header-row .Grid__cell span {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  display: block;
}

.Grid.grid-header-row .Grid__cell > .item {
  border: none;
}

.Grid.grid-header-row {
  overflow: hidden;
  background: #e8e8e8;
  border-left: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.grid-header-row .Grid__cell > .item {
  border: 1px solid #dadada;
}

.Grid .table-cell-type-null {
  vertical-align: text-bottom;
}