{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-use-before-define": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/forbid-prop-types": 0,
    "space-before-function-paren": 0,
    "func-names": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],

    "class-methods-use-this": 0,
    "import/prefer-default-export": 0,
    "no-restricted-syntax": 0,
    "no-bitwise": 0,
    "prefer-destructuring": 0,
    "react/button-has-type": 0,
    "react/jsx-no-bind": 0,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": 0,
    "react/no-array-index-key": 0,
    "react/no-find-dom-node": 0,
    "react/no-string-refs": 0,
    "react/no-unused-prop-types": 0,
    "react/no-unused-state": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "jsx-a11y/no-static-element-interactions": 0
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "$": true
  }
}
