name: Build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    env:
      node-version: 8.x

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Fix Windows Git EOL
      if: ${{ matrix.os == 'windows-latest' }}
      run: git config --global core.autocrlf input

    - name: Install Linux Dependencies
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get install libgnome-keyring-dev icnsutils graphicsmagick rpm bsdtar

    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm prune
    - run: npm install

    - run: npm test

    - run: npm run dist -- --publish never
