name: Release

on:
  release:
    types: [ 'created' ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    env:
      node-version: 10.x

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Install Linux Dependencies
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get install libgnome-keyring-dev icnsutils graphicsmagick rpm bsdtar

    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm ci

    - run: npm test

    - run: npm run dist
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
